.page {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 3vmin);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    flex: 1;
    font-size: calc(40px + 8vmin);
    margin: 2vh 1vh 0 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    justify-content: space-evenly;
}

.invalidLink {
    pointer-events: none;
    opacity: 0.25;
}

.validLink {
    opacity: 1;
}
