.page {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 3vmin);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: calc(40px + 8vmin);
    margin-top: 2vh;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startBtn {
    margin-top: 10vh;
}

.test {
    width: 30vw;
}