.input {
    padding: 1vh;
    width: 50vw;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}

.exercise {
    height: fit-content;
    margin: 10px;
}

.exerciseContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 1vh 0 1vh 0;
    border-radius: 5px;
    height: 20vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.185);
    overflow-y: auto;
    font-size: 0.75em;
}