.negBtn {
    border-radius: 10px;
    color: white;
    background-color: rgba(138, 89, 89, 0.719);
    border-style: none;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1vh;
}

.negBtn:hover {
    cursor: pointer;
}

.negBtn:active {
    background-color: rgba(138, 89, 89, 0.267);
}

.icon {
    margin: auto !important;
}