.posBtn {
    border-radius: 10px;
    color: white;
    background-color: rgba(89, 138, 95, 0.719);
    border-style: none;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1vh;
}

.posBtn:hover {
    cursor: pointer;
}

.posBtn:active {
    background-color: rgba(89, 138, 95, 0.267);
}

.icon {
    margin: auto !important;
}