.page {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 3vmin);
    color: white;
}

.interactionBar {
    margin-top: 15vh;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-size: calc(40px + 8vmin);
    overflow-wrap: break-word;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2em;
    line-height: 1em;
}

.timer {
    font-family: "Dosis";
    font-size: calc(100px + 15vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upNext {
    height: 1em;
    line-height: 1em;
    width: 75vw;
}
