.page {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 3vmin);
}

.title {
    font-size: calc(40px + 8vmin);
}