.input {
    font-family: 'Dosis';
    padding: 1vh;
    width: 50vw;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.interactiveSection {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    margin: 2vh;
}

.unit {
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    transform: translate(-250%, 50%);
    font-size: 1em;
}
