.posBtn {
    color: white;
    background-color: rgba(89, 138, 95, 0.719);
    border-radius: 10px;
    border-style: none;
    height: 5vh;
    width: 15vw;
    letter-spacing: 0.2vw;
    font-size: 3vh;
}

.posBtn:hover {
    background-color: rgba(89, 138, 95, 0.473);
    cursor: pointer;
}

.posBtn:active {
    background-color: rgba(89, 138, 95, 0.267);
}