.posBtn {
    display: flex;
    color: white;
    background-color: rgba(89, 138, 95, 0.719);
    border-radius: 10px;
    border-style: none;
    height: 10vh;
    width: fit-content;
    letter-spacing: 0.2vw;
    font-size: 10vh;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.posBtn:hover {
    background-color: rgba(89, 138, 95, 0.473);
    cursor: pointer;
}

.posBtn:active {
    background-color: rgba(89, 138, 95, 0.267);
}

.icon {
    margin: auto !important;
}